@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Elements
 * 1. ID & Class
 * 2. Pseudoclass
 * 3. Media Queries
 */

/* 0. Elements */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { font-size: 16px; }
body {
  width: 100%;
  height: 32px;	
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #F27A00;
  background-attachment: fixed;
  background-image: radial-gradient(ellipse farthest-corner, #FF9500, #E66000);
  font-family: "Open Sans", Sans-serif;
  text-align: center;
}

/* 1. ID & Class */
#title {
  margin-bottom: 0;
  font-size: 7rem;
  line-height: 8rem;
  font-family: "Open Sans Condensed", Sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 3px #E66000, 0 5px 0 #E66000, 1px 6px 3px #300;
  color: #FF9500;
}
#punchline {
  margin-top: 0;
  color: rgba(51,0,0,0.5);
}

/* 2. Pseudoclass */
