@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Elements
 * 1. ID & Class
 * 2. Pseudoclass
 * 3. Media Queries
 */

/* 0. Elements */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { font-size: 16px; }
body {
  width: 100%;
  height: 32px;	
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #F27A00;
  background-attachment: fixed;
  background-image: radial-gradient(ellipse farthest-corner, #EAEFF2, #D4DDE4);
  font-family: "Open Sans", Sans-serif;
  text-align: center;
}
hr {
  width: 30rem;
  border: 1px solid;
  border-color: rgba(64,60,32,0.3) transparent rgba(255,240,128,0.3);
}
p {
  width: 30rem;
  margin: 2rem auto;
  color: #300;
}
a {
  text-decoration: none;
  color: #00539F;
}
footer {
  margin: 2rem auto 4rem;
  font-size: 0.8rem;
}

/* 1. ID & Class */
#title {
  margin-bottom: 0;
  font-size: 7rem;
  line-height: 8rem;
  font-family: "Open Sans Condensed", Sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 3px #ddd, 0 5px 0 #bbb, 1px 6px 3px #300;
  color: #fff;
}
#punchline {
  margin: 0 auto 4rem;
  color: rgba(32,32,32,0.5);
}
#giving {
  border-bottom: 1px dotted;
}
#portal {
  text-align: center;
}
#portal a {
  color: #ddd;
  width: 16rem;
  padding: 1rem;
  margin: 1rem 2rem;
  background: #0095DD;
  display: inline-block;
  transition: all 300ms ease;
}
#portal strong {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
}

/* 2. Pseudoclass */
a:hover { color: #0095DD; }
#portal a:hover {
  background: #FF9500;
}

/* 3. Media Queries */
@media screen and (max-width: 780px) {
  #title { font-size: 5rem; line-height: 7rem; }
  #punchline { font-size: 1rem; }
  body { padding: 2rem; }
  p { width: 80%; }
}
@media screen and (max-width: 512px) {
  #title { font-size: 4rem; line-height: 5rem; }
  #punchline { font-size: 0.8rem; }
  p { width: 100%; }
}
